# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env
.venv
env/
venv/

# macOS
.DS_Store

# Build Output
dist/
*.zip

# Package Manager
uv.lock

# AI stuff
.agents
skills-lock.json